{{ include('@INFS3202PracticalFive/Partial/header.html.twig') }}
{{ include('@INFS3202PracticalFive/Admin/Partial/navigation.html.twig') }}
<h1>Edit stuff</h1>
{{ include('@INFS3202PracticalFive/Partial/scripts.html.twig') }}
{{ include('@INFS3202PracticalFive/Partial/footer.html.twig') }}