{{ include('@INFS3202PracticalFour/Partial/header.html.twig') }}
{{ include('@INFS3202PracticalFour/Admin/Partial/navigation.html.twig') }}
<h1>Edit stuff</h1>
{{ include('@INFS3202PracticalFour/Partial/scripts.html.twig') }}
{{ include('@INFS3202PracticalFour/Partial/footer.html.twig') }}