<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation 5</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
    <style type="text/css">
        .top-bar input,select {
            height:auto;
            padding-top:.35rem;
            padding-bottom:.35rem;
        }

        .top-bar select {
            margin-top:.35rem;
        }

        .nav-label {
            line-height: 45px;
            height:auto;
            padding-top:.35rem;
            padding-bottom:.35rem;
            color: #fff;
            font-size: 14px;
        }
    </style>
</head>
<body>